<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://csmanagedidentity.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/16169bdf-109c-4eb7-9963-3d01e2352774/resourceGroups/att-ai102-cognitiveservices-rg/providers/Microsoft.Web/sites/csmanagedidentity</ResourceId>
    <UserName>$csmanagedidentity</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://csmanagedidentity.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>